{% extends 'base.html.twig' %}

{% block body %}
<h1>{% block title %}{{ "contact.list.title"|trans }}{% endblock %}</h1>
<div>
    <a href="{{ path('contact_create') }}">{{ "contact.common.create"|trans|capitalize }}</a>
    <div id="table">
        {% include 'contact/partial/listTable.html.twig' %}
    </div>
    <div id="pagination">
        {% include 'common/pagination.html.twig' %}
    </div>
</div>
{% endblock %}

