{% extends 'base.html.twig' %}

{% block body %}
<h1>{% block title %}{% trans %}contact.list.title{% endtrans %}{% endblock %}</h1>
<div>
    <div id="table">
        {% include 'contact/partial/listTable.html.twig' %}
    </div>
    <div id="pagination">
        {% include 'common/pagination.html.twig' %}
    </div>
</div>
{% endblock %}

